<body style="margin: 0px;">
    <div style="background: #04468a; padding: 20px 0px 20px 0px; margin: 0px 0px 25px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <h2 class="text-size" style="color: #FFFFFF; line-height: 2.0; text-align: center;">
                        <strong> CHECKING THE GENUINENESS OF EVERY VEHICLE AND DRIVING LICENSE IS NOW ON FINGER
                            TIPS.</strong>
                    </h2>

                    <div class="inline-section padding" style="padding: 20px 0px 60px 0px">
                        <a target="_blank"
                            href="https://play.google.com/store/apps/details?id=com.nic.mparivahan&amp;hl=en">
                            <img class="imgMobile" src="assets/google-play-badge.png" alt="mParivahan Google Play Store"
                                style="width: auto; height: 100px;">
                        </a>
                    </div>
                    <div class="inline-section padding" style="padding: 20px 0px 60px 0px">
                        <a target="_blank" href="https://apps.apple.com/in/app/mparivahan/id1450914131">
                            <img class="imgMobile" src="assets/ios-play-badge.png" alt="mParivahan IOS Play Store"
                                style="width: auto; height: 100px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" style="padding-top: 70px;">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align: center; ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Important Notice</h2>
                </div>
                <div class="modal-body">

                    <p style="font-size: 16px;">
                        This APP has been redesigned with additional citizen centric services
                        related to Vehicle, Driving license and Challan. The new NextGen mParivahan APP is being made
                        available soon. In case you face any problem related to existing mParivahan APP, please update
                        your APP to NextGen mParivahan APP, otherwise you may uninstall your existing mParivahan APP and
                        install new NextGen mParivahan APP from Google Play Store/APP Store</p>
                </div>
            </div>
        </div>
    </div>

    <div style="background: #434242; line-height: 2.0; min-height: 20px; margin-bottom: 2px;">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <div style="color: #FFFFFF; font-size: 16px; line-height: 2.0; padding: 20px 0px;">
                    For any technical problems related to mParivahan, Please contact:
                    <br />Email: helpdesk-mparivahan[at]gov[dot]in <br /> Phone: 0120-4925505 (Timings: 6:00 AM - 10:00
                    PM)
                </div>
            </div>
        </div>
    </div>
</body>